{% extends "layout.html" %}
<meta http-equiv="expires" content="0">

{% block body %}
<h1>ePaper Display</h1>

<form action = "/" method = "POST" enctype=multipart/form-data>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for n in range(0, img_count) %}
          <div class="col">
            <div class="card shadow-sm">
              <h5 class="card-title">Image {{n+1}}</h5>
              <div class="card">
                <img src="/static/uploads/r_image_{{n+1}}.bmp">
              </div>
              <div class="card-body">
                
                Upload new image: <input type=file class="form-control-file" name=image_{{n+1}}>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="form-group">
                    Delay: <input type="number" placeholder="{{data['delay'][n]/1000000}}" name="delay_{{n+1}}"> seconds
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <nav class="navbar fixed-bottom navbar-light bg-light">
      <input class="btn btn-primary" type="submit" value="Submit">
  </nav>
</form>
{% endblock %}